.Rproj.user
.Rhistory
.RData
.Ruserdata
core.[0-9]*


processed-data/07_batch_correction/
processed-data/08_clustering/
processed-data/11_differential_expression/dream_results_consistent_logFC.rds
processed-data/11_differential_expression/pseudobulk/nnSVG_precast_DE/nnSVG_PRECAST_captureArea_9.Rdata
processed-data/11_differential_expression/pseudobulk/nnSVG_precast_DE/nnSVG_PRECAST_captureArea_9_sig_genes_all.rds
processed-data/11_differential_expression/pseudobulk/nnSVG_precast_pseudobulk/
processed-data/11_differential_expression/spe_pseudo_dACC_DLPFC.Rdata
processed-data/12_spatial_registration/
processed-data/13_NMF/DE_NMF15_35.Rdata
processed-data/13_NMF/DE_NMF38_61.Rdata
processed-data/13_NMF/DLPFC_dACC_celltype_NMF.Rdata
processed-data/13_NMF/sce_NMF_DLPFC_30_snRNA-seq.Rdata
processed-data/13_NMF/spe_NMF.Rdata
processed-data/13_NMF/spe_NMF_DLPFC_30.Rdata
processed-data/13_NMF/spe_NMF_dACC_manual.Rdata
processed-data/14_cross_region/DLPFC_nmf_results.RDS
processed-data/14_cross_region/spe_DLPFC_30_NMF.Rdata
processed-data/14_cross_region/spe_dACC_NMF.Rdata
processed-data/15_cross_region_snRNA-seq/DLPFC_nmf_cv_results.RDS
processed-data/15_cross_region_snRNA-seq/DLPFC_nmf_cv_results_lower_k.RDS
processed-data/15_cross_region_snRNA-seq/DLPFC_nmf_results.RDS
processed-data/15_cross_region_snRNA-seq/spe_DLPFC_12_NMF.Rdata
processed-data/15_cross_region_snRNA-seq/spe_DLPFC_30_NMF.Rdata
processed-data/15_cross_region_snRNA-seq/spe_dACC_NMF.Rdata
processed-data/17-2_LDSC_enrichment/
processed-data/17-3_LDSC_pairwise/
processed-data/17_LDSC/
processed-data/18_PsychENCODE_NMF/
processed-data/19_bulk_deconvolution/
processed-data/20_WM_comparisons/modeling_results_WM_vs_CC.RDS
processed-data/20_WM_comparisons/pseudobulk_manual_anno.RData
processed-data/20_WM_comparisons/spe_anno.Rdata
processed-data/PTSD_bulk/
processed-data/VSPG/
processed-data/manual_annotations/
processed-data/pain/
processed-data/snRNA-seq/01_QC/sce_doublet.rda
processed-data/snRNA-seq/01_QC/sce_drops_removed.rda
processed-data/snRNA-seq/01_QC/sce_qc.rda
processed-data/snRNA-seq/02_preprocessing/
processed-data/snRNA-seq/03_batch_correction/
processed-data/snRNA-seq/04_clustering/
processed-data/snRNA-seq/05_azimuth/azimuth_DE_results.Rdata
processed-data/snRNA-seq/05_azimuth/dlPFC_DE_results.Rdata
processed-data/snRNA-seq/05_azimuth/sce_DLPFC_azimuth.Rdata
processed-data/snRNA-seq/05_azimuth/sce_azimuth.Rdata
processed-data/snRNA-seq/05_azimuth/sce_azimuth_logcounts.Rdata
processed-data/snRNA-seq/05_azimuth/sce_azimuth_pseudo.Rdata
processed-data/snRNA-seq/05_azimuth/sce_dlPFC_pseudo.Rdata
processed-data/snRNA-seq/06_NMF/mch_projection.RDS
processed-data/snRNA-seq/06_NMF/nmf_cv_results.RDS
processed-data/snRNA-seq/06_NMF/nmf_cv_results_lower_k.RDS
processed-data/snRNA-seq/06_NMF/nmf_patterns_subset.RDS
processed-data/snRNA-seq/06_NMF/nmf_results.RDS
processed-data/snRNA-seq/06_NMF/rs2_mch_matrix.h5ad
raw-data/BrainScope/
raw-data/Retro-seq/
processed-data/21-submission-links-spaceranger/
processed-data/22-submission-links-cellranger/
code/spatialLIBD_app/
code/20_shinyapp/
code/10_iSee_app/sce.Rdata
